<!DOCTYPE html />
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h3>Summary of articles</h3>
	<% articles.forEach(function(taco, index){ %>
	<li><%= taco.title %><a href = '/articles/<%= index %>'> Summary</a></li>
	<% }) %>
	<ul>
		<li><a href = "/">Home</a></li>
		<li><a href = "/articles/new">Article Form</a></li>
	</ul>
</body>
</html>