<!DOCTYPE html />
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h3>Summary of articles</h3>
	<% articles.forEach(function(taco){ %>
	<li><%= taco.title %></li>
	<!-- <li><%= articles.date %></li>
	<li><%= articles.summary %></li> -->
	<% }) %>
</body>
</html>