<!DOCTYPE html />
<html>
<head>
	<title>
	</title>
</head>
<body>
	<form method="post" action="/articles">
		<input placeholder='Title' name="articles[title]"><br>
		<input placeholder='Date'name="articles[date]"><br>
		<textarea placeholder='Summary'name="articles[summary]"></textarea><br>
		<button>Submit</button>
	</form>
</body>
</html>