<!DOCTYPE html />
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h2>Article Form</h2>
	<form method="post" action="/articles">
		<input placeholder='Title' name="articles[title]"><br>
		<input placeholder='Date'name="articles[date]"><br>
		<textarea placeholder='Summary'name="articles[summary]"></textarea><br>
		<button>Submit</button>
	</form>
	<ul>
		<li><a href = "/">Home</a></li>
		<li><a href = "/articles">Article Summary</a></li>
	</ul>
</body>
</html>