<!DOCTYPE html />
<html>
<head>
	<title></title>
</head>
<body>
	<h3><%= articles.title %></h3>
	<p><%= articles.date %></p>
	<p><%= articles.summary %></p>
	<ul>
		<li><a href = "/">Home</a></li>
		<li><a href = "/articles/new">Article Form</a></li>
		<li><a href = "/articles">Article Summary</a></li>
	</ul>
</body>
</html>