<!DOCTYPE html />
<html>
<head>
	<title></title>
</head>
<body>
<p><em>The Dailey Planet</em> is the home of Reporters: Clark Kent and Lois Lane. Phtographer: Jimmy Olsen. Editor:???</p>
</body>
</html>