<!DOCTYPE html />
<html>
<head>
	<title></title>
</head>
<body>
	<h2>About The Daily Planet</h2>
	<p>
		The Daily Planet is the home of Reporters: Clark Kent and Lois Lane. Phtographer: Jimmy Olsen. Editor:???
	</p>

	<ul>
		<li><a href = "/">Home</a></li>
	</ul>
</body>
</html>