<!DOCTYPE html />
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Contact</h2>
	<ul>
		<li>Clark Kent: 181-911-4312</li>
		<li>Lois Lane: 181-901-4312</li>
	</ul>
	<ul>
		<li><a href = "/">Home</a></li>
	</ul>
</body>
</html>