<!DOCTYPE html />
<html>
<head>
	<title></title>
</head>
<body>
	<h2>THE DAILY PLANET</h2>
	<p>The newspaper for Superman related things</p>
	<ul>
		<li><a href = "about">About</a></li>
		<li><a href = "contact">Contact</a></li>
		<li><a href = "/articles/new">Article Form</a></li>
		<li><a href = "/articles">Article Summary</a></li>
	</ul>

</body>
</html>